[submodule "ext/drv8830-i2c"]
	path = ext/drv8830-i2c
	url = https://github.com/evdrvn/drv8830-i2c
[submodule "ext/evdsptc"]
	path = ext/evdsptc
	url = https://github.com/evdrvn/evdsptc
[submodule "ext/civetweb"]
	path = ext/civetweb
	url = https://github.com/civetweb/civetweb
[submodule "ext/bno055-i2c"]
	path = ext/bno055-i2c
	url = https://github.com/evdrvn/bno055-i2c
